# yii console command
/yii

# IDE & OS files
.*.swp
.idea
nbproject
.buildpath
.project
.settings
Thumbs.db
.DS_Store

# composer vendor dir
/vendor

# composer itself and .lock are not needed
composer.phar
composer.lock


# phpunit itself is not needed
phpunit.phar
# local phpunit config
/phpunit.xml
