version: '3.7'

services:
  app:
    image: "${DOCKER_APP_IMAGE}:${DOCKER_APP_TAG}"
    restart: unless-stopped
    ports:
      - "80"
    volumes:
      - ./:/app
      - ./.docker/php/var/log/php:/var/log/php
      - ./.docker/nginx/var/log/nginx:/var/log/nginx
    tmpfs:
      - /app/runtime/debug:uid=82,gid=82
    networks:
      proxy-network:
      hiapi-network:
      local-network:
        aliases:
          - local-php-fpm
    extra_hosts:
      - "${API_HOSTS_LINE}"
    environment:
      - "ENV=${ENV}"
      - "PHP_IDE_CONFIG=serverName=${HOSTS}"
      - "VIRTUAL_HOST=${HOSTS}"
      - "LETSENCRYPT_HOST=${HOSTS}"
      - "LETSENCRYPT_EMAIL=devteam@hiqdev.com"
      - "LETSENCRYPT_STANDALONE_CERTS=${LETSENCRYPT_STANDALONE_CERTS:-false}"

  memcached:
    image: memcached:1.5
    networks:
      - local-network
    command: '-m 128'

networks:
  local-network:
    driver: bridge
  hiapi-network:
    name: "${HIAPI_DIST}"
    external: true
  proxy-network:
    name: "nginx-proxy-network-${REAL_IP}"
    external: true
