version: '3'

services:

  nginx:
    image: nginx:latest
    ports:
      - "80"
    volumes:
      - ./:/app
      - ./.docker/nginx/etc/nginx/conf.d:/etc/nginx/conf.d
      - ./.docker/nginx/var/log/nginx:/var/log/nginx
    networks:
      - local-network
      - proxy-network
    environment:
      - "VIRTUAL_HOST=${HOSTS}"
      - "LETSENCRYPT_HOST=${HOSTS}"
      - "LETSENCRYPT_EMAIL=devteam@hiqdev.com"
      - "LETSENCRYPT_STANDALONE_CERTS=${LETSENCRYPT_STANDALONE_CERTS}"

  php-fpm:
    image: hiqdev/php:8.1-fpm-alpine
    tmpfs:
      - /app/runtime/debug:uid=33,gid=33
    volumes:
      - ./:/app
      - ./.docker/php/var/log/php:/var/log/php
    networks:
      hiapi-network:
      local-network:
        aliases:
          - local-php-fpm
    extra_hosts:
      - "${API_HOSTS_LINE}"
    environment:
      - "ENV=${ENV}"
      - "PHP_IDE_CONFIG=serverName=${HOSTS}"

  memcached:
    image: memcached
    networks:
      - local-network
    command: '-m 128'

networks:
  local-network:
    driver: bridge
  hiapi-network:
    external:
      name: "${HIAPI_DIST}"
  proxy-network:
    external:
      name: "nginx-proxy-network-${REAL_IP}"
