.option-input, .select-on-check-all {
    -webkit-appearance: none;
    -moz-appearance: none;
    -ms-appearance: none;
    -o-appearance: none;
    appearance: none;
    position: relative;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0;
    height: 15px;
    width: 15px;
    transition: all 0.15s ease-out 0s;
    background: #fefefe;
    border: 1px solid lightgrey;
    color: #fff;
    cursor: pointer;
    display: inline-block;
    margin: 4px 0 -4px 0 !important;
    outline: none;
    z-index: 200;
}

.option-input:focus, .select-on-check-all:focus {
    outline: none !important;
}

.option-input:hover, .select-on-check-all:hover {
    background: lightgrey;
}

.option-input:checked, .select-on-check-all:checked {
    background: #3c8dbc;
}

.option-input:checked::before, .select-on-check-all:checked:before {
    height: 13px;
    width: 13px;
    line-height: 13px;
    position: absolute;
    content: '✓';
    display: inline-block;
    text-align: center;
}

.option-input:checked::after, .select-on-check-all:checked:after {
    background: #3c8dbc;
    content: '';
    display: block;
    position: relative;
    z-index: 100;
}
