.navbar-nav > .reminders > .dropdown-menu > li .menu > li > a {
    margin: 0;
    padding: 7px;
}

.navbar-nav > .reminders > .dropdown-menu > li .menu > li > a > h4 {
    padding-top: 1.2em;
    margin-top: 5px;
    margin-bottom: 3px;
    color: #444444;
    font-size: 15px;
    position: relative
}

.navbar-nav > .reminders > .dropdown-menu > li .menu > li > a > h4 > small {
    color: #999999;
    font-size: 10px;
    position: absolute;
    top: 0;
    right: 0
}

.navbar-nav > .reminders > .dropdown-menu > li .menu > li > a > p {
    font-size: 12px;
    color: #888888;
    margin-bottom: 0px;
}

.navbar-nav > .reminders > .dropdown-menu > li .menu > li > a:before,
.navbar-nav > .reminders > .dropdown-menu > li .menu > li > a:after {
    content: " ";
    display: table
}

.navbar-nav > .messages-menu > .dropdown-menu > li .menu > li > a:after {
    clear: both
}
